boost==0.1
cmake==0.7.1
boost-py
numpy==1.11.3
opencv-python==4.1.1.26
dlib>=19.3.0
face_recognition_models
face_recognition
Pillow
scipy>=0.17.0
aniso8601==1.2.0
asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==1.9
pycparser==2.18
pyOpenSSL==17.0.0
python-dateutil==2.7.2
PyYAML==3.12
requests==2.18.4
six==1.11.0
Unidecode==1.0.22
urllib3==1.22
gunicorn==19.9.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.6
click==7.0
flask==1.1.1
flask-Ask==0.9.7
itsdangerous==1.1.0




